body {
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 14px;
  	line-height: 20px;
  	color: #333333;
  	background-image: url("../photos/binding_dark.png");
  	background-repeat: repeat;
  	height: 100%;
}
p {
  margin: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;

}

h1,
h2,
h3 {
  line-height: 40px;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}






/*LOGIN & SIGNUP*/
#login-box {
	float: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 220px;
	padding: 30px 30px 35px 30px;
	background-color: #efefef;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px;
}
#signup-box {
	float: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	width: 220px;
	padding: 30px 30px 35px 30px;
	background-color: #efefef;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px;
}
#login-box h4,
#signup-box h4 {
	margin: -32px -31px 21px;
    line-height: 40px;
    font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #FF6600;
	
	/*background-image: -moz-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -webkit-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -o-linear-gradient(top,#FF9900,#FF6600);
  	background-image: linear-gradient(to bottom,#FF9900,#FF6600);*/
	
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px 10px 0 0;
}
.back{
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: 20px;
	margin-left: -55px;
	margin-bottom: 0px;
}
.window-login {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: 20px;
	margin-left: -30px;
	background-color: #FF6600;
	text-decoration: none;
	
	/*background-image: -moz-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -webkit-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -o-linear-gradient(top,#FF9900,#FF6600);
  	background-image: linear-gradient(to bottom,#FF9900,#FF6600);*/
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.window-signup {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: 20px;
	margin-left: -38px;
	background-color: #FF6600;
	text-decoration: none;
	
	/*background-image: -moz-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -webkit-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -o-linear-gradient(top,#FF9900,#FF6600);
  	background-image: linear-gradient(to bottom,#FF9900,#FF6600);*/
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.window-login:hover,
.window-signup:hover {
	color: #fff;
  	background: #333333;
}
.zaobljen {
	margin: 0px 0px 0px 10px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid rgba(0,0,0,0.3);
	border-radius: 0 2px 2px 0;
	padding: 8px 16px 10px 8px;
}
.date {
	margin: 0px 0px 0px 10px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid rgba(0,0,0,0.3);
	border-radius: 0 2px 2px 0;
	padding: 8px 15px 8px 8px;
}
.ikona {
	margin: -1px -4px -12px 10px;
	padding: 4px 0px 4px 0px;
}

.oklep {
	margin-bottom: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	box-shadow: 1px 1px 1px #cccccc;
        width: 100%;
}

.oklep > input {
        width: 151px;
}





/*ERROR*/
#error{
	text-align: center;
}
#error p{
	text-align: center;
  	font-size: 18px;
	color: #ffffff;
	background-color: #FF6600;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 8px;
	padding: 10px 0px 10px 0px;
	margin-left: 200px;
	margin-right: 200px;
}
.error{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 14px;
  	line-height: 20px;
  	color: red;
}





/*MENU*/
.logo {
	margin-left: 20px;
}
nav {
	background-color: #efefef;
	position: absolute;
	left: 0%;
	top: 0%;
	height: 53px;
	width: 100%;
	
	padding-bottom: 20px;
	box-shadow: 1px 1px 3px #888888;
	z-index: 5;
}
nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display: block;
}
nav ul {
	border-radius: 5px;  
	list-style: none;
	position: relative;
	top: 30px;
	display: inline-table;
	padding: 0px 0px 0px 0px;
	margin-left: auto;
	margin-right: auto;
	margin: -15px 0px 0px 40px;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}
nav ul li {
	float: left;
}
nav ul li:hover a {
	color: #ffffff;
  	background-color: #333333;
	
	/*background-image: -moz-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -webkit-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -o-linear-gradient(top,#FF9900,#FF6600);
  	background-image: linear-gradient(to bottom,#FF9900,#FF6600);*/
}
nav ul li a {
	display: block;
	padding: 10px 10px 10px 10px;
	color: #ffffff;
	font-weight: bold;
	background-color: #FF6600;
	
	/*background-image: -moz-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -webkit-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -o-linear-gradient(top,#FF9900,#FF6600);
  	background-image: linear-gradient(to bottom,#FF9900,#FF6600);*/
  	 
	box-shadow: 1px 1px 3px #888888;
	text-decoration: none;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
}
nav ul ul {
	border-radius: 5px;
	padding: 13px 0px 0px 0px;
	position: absolute;
	top: 100%;
	margin: -13px 0px 0px 0px;
	z-index: 2;
}
nav ul ul li {
	float: none; 
	position: relative;
}
nav ul ul li a {
	padding: 5px 5px 5px 5px;
	color: #fff;
	background-color: #FF6600;
	
	/*background-image: -moz-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -webkit-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -o-linear-gradient(top,#FF9900,#FF6600);
  	background-image: linear-gradient(to bottom,#FF9900,#FF6600);*/
}	
nav ul ul li a:hover {
	background: #333333;
}
nav ul ul ul {
	margin: 0px 0px 0px 0px;
	position: absolute;
	left: 100%;
	top: 0%;
	margin: -13px 0px 0px 0px;
}
#search-bar {
	position: relative;
	width: 215px;
	margin: -30px 0px 0px 670px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;	
	box-shadow: 1px 1px 1px #cccccc;
}
.oblika-search {
	margin: 0px -4px 0px 10px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid rgba(0,0,0,0.3);
	border-right: 1px solid rgba(0,0,0,0.3);
	padding: 8px 15px 8px 8px;
	border-radius: 0px 4px 4px 0px;
}
.welcome{
	font-weight: bold;
	position: relative;
	top: -25px;
	left: 1130px;
	width: 236px;
}
.login {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	/*position: relative;
	top: -25px;
	left: 1250px;*/
	background-color: #FF6600;
	
	/*background-image: -moz-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -webkit-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -o-linear-gradient(top,#FF9900,#FF6600);
  	background-image: linear-gradient(to bottom,#FF9900,#FF6600);*/
  	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
	box-shadow: 1px 1px 3px #888888;
  	padding: 6px 12px 6px 12px;
	margin-left: 10px;
}
.login:hover {
	color: #fff;
  	background: #333333;
}
.login-offline{
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	position: relative;
        left: 1050px;
	width: 236px;
	background-color: #FF6600;
	
	/*background-image: -moz-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -webkit-linear-gradient(top,#FF9900,#FF6600);
  	background-image: -o-linear-gradient(top,#FF9900,#FF6600);
  	background-image: linear-gradient(to bottom,#FF9900,#FF6600);*/
  	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
	box-shadow: 1px 1px 3px #888888;
  	padding: 6px 12px 6px 12px;
}
.login-offline:hover {
	color: #fff;
  	background: #333333;
}
#results{
	background: #ffffff;
	padding: 5px;
	text-decoration: none;
	width: 208px;
	min-height: 20px;
	position: absolute;
	top: 50px;
	left: 670px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.3);
}





/*SHOP*/
#shop {
	background-color: #efefef;
	background-repeat: no-repeat;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	position: relative;
	left: 350px;
	margin-top: 80px;
	width: 600px;
	padding-bottom: 10px;
}
#shop h2 {
	text-align: center;
}
.items{
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 3px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	height: 150px;
}
.items img {
	float: left;
}
.items h4 {
	padding-left: 200px;
}
.items p {
	padding-left: 200px;
}
.addcart {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #FF6600;
  	text-decoration: none;
	
	position: relative;
	top: 24px;
	left: 316px;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
	box-shadow: 1px 1px 3px #888888;
  	padding: 6px 12px 6px 12px;
}
.edititem {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #FF6600;
  	text-decoration: none;
	
	position: relative;
	top: 24px;
	left: 220px;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
	box-shadow: 1px 1px 3px #888888;
  	padding: 6px 12px 6px 12px;
}
.activeitem {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #FF6600;
  	text-decoration: none;
	
	position: relative;
	top: -10px;
	left: 310px;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
	box-shadow: 1px 1px 3px #888888;
  	padding: 6px 12px 6px 12px;
}
.addcart:hover,
.edititem:hover,
.activeitem:hover {
	color: #fff;
  	background: #333333;
}





/*CART*/
#cart {
	background-color: #efefef;
	background-repeat: no-repeat;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	position: relative;
	left: 350px;
	margin-top: 80px;
	width: 600px;
	padding-bottom: 10px;
}
#cart h2 {
	text-align: center;
}
#cart hr {
	color: #ff6600;
	background-color: #ff6600;
	height: 5px;
}
.naslov {
	text-align: center;
}






/*CHECKOUT*/
#checkout {
	background-color: #efefef;
	background-repeat: no-repeat;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	position: relative;
	left: 350px;
	margin-top: 80px;
	width: 600px;
	padding-bottom: 10px;
}
#checkout h2 {
	text-align: center;
}
.checkoutitems{
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 3px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	height: 100px;
}
.checkoutitems img {
	float: left;
}
.checkoutitems h4 {
	padding-left: 200px;
}
.checkoutitems p {
	padding-left: 200px;
}
.accept{
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -80px;
	margin-top: 20px;
	background-color: #FF6600;
	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.cancel{
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: 10px;
	margin-top: 20px;
	background-color: #FF6600;
	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.accept:hover,
.cancel:hover {
	color: #fff;
  	background: #333333;
}





/*ORDERS*/
.approveorder{
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	position: relative;
	margin-left: 260px;
	background-color: #FF6600;
	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.rejectorder{
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	position: relative;
	margin-left: 267px;
	background-color: #FF6600;
	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.cancelorder{
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	position: relative;
	margin-left: 265px;
	background-color: #FF6600;
	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.approveorder:hover,
.rejectorder:hover,
.cancelorder:hover {
	color: #fff;
  	background: #333333;
}





/*MINI CART*/
#mini-cart{
	position: absolute;
	top: 90px;
	right: 15px;
	width: 140px;
	padding: 20px 20px 20px 20px;
	background-color: #efefef;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px;
}
#mini-cart h4 {
	margin: -22px -21px 20px;
    line-height: 30px;
    font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #FF6600;	
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px 10px 0 0;
}
#mini-cart a {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #FF6600;
  	text-decoration: none;  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 3px;
	box-shadow: 1px 1px 3px #888888;
  	padding: 6px 6px 6px 6px;
	margin-right: 6px;
}
#mini-cart a:hover {
	color: #fff;
  	background: #333333;
}
#mini-cart p {
	font-weight: bold;
	text-align: left;
	padding: 4px 5px 4px 5px;
	border: 1px solid rgba(0,0,0,0.3);
}
.previous{
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	position: absolute;
	top: 230px;
	left: 1172px;
	background-color: #FF6600;
	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.previous:hover {
	color: #fff;
  	background: #333333;
}







/*CATEGORIES*/
#categories{
	position: absolute;
	top: 90px;
	left: 10px;
	width: 120px;
	padding: 10px 10px 10px 10px;
	border: 1px solid rgba(0,0,0,1);
	border-radius: 10px;
}
#categories h4 {
	margin: -12px -11px 10px;
    line-height: 30px;
    font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #FF6600;	
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px 10px 0 0;
}
#categories a {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ff6600;
  	text-decoration: none;
}
#categories a:hover {
	color: #ffffff;
}




/*MY PROFILE*/
#myprofile {
	background-color: #efefef;
	background-repeat: no-repeat;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;	
	float: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	width: 400px;
	height: 400px;
	z-index:-1;
}
#myprofile h2 {
	text-align: center;
}
.edit-profile {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #000000;
	position: relative;
	top: 40px;
	left: 88px;
	background-color: #efefef;
	
	background-image: -moz-linear-gradient(top,#efefef,#888888);
  	background-image: -webkit-linear-gradient(top,#efefef,#888888);
  	background-image: -o-linear-gradient(top,#efefef,#888888);
  	background-image: linear-gradient(to bottom,#efefef,#888888);
  	background-repeat: repeat-x;
  	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.edit-profile:hover {
	color: #000000;
  	background: #888888;
}

.edit-password {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #000000;
	position: relative;
	top: 40px;
	left: 100px;
	background-color: #efefef;
	
	background-image: -moz-linear-gradient(top,#efefef,#888888);
  	background-image: -webkit-linear-gradient(top,#efefef,#888888);
  	background-image: -o-linear-gradient(top,#efefef,#888888);
  	background-image: linear-gradient(to bottom,#efefef,#888888);
  	background-repeat: repeat-x;
  	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.edit-password:hover {
	color: #000000;
  	background: #888888;
}
#myprofile img {
	position: relative;
	left: 15px;
	top: -15px;
	margin: 10px 10px 10px 10px;
}
.profile {
	position: relative;
	left: 115px;
	top: -80px;
}





/*EDIT PROFILE*/
#edit-profile {
	background-color: #efefef;
	background-repeat: no-repeat;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	float: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	width: 400px;
	
	z-index:-1;
}
#edit-profile h2{
	text-align: center;
}
.edit-oklep {
	width: 218px;
	margin: 0px 0px 5px 0px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	box-shadow: 1px 1px 1px #cccccc;
}
.ovitek {
	margin: 20px 0px 0px 90px;
	width: 219px;
}
.save {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #000000;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: 60px;
	margin-left: -22px;
	margin-bottom: 20px;
	background-color: #efefef;
	
	background-image: -moz-linear-gradient(top,#efefef,#888888);
  	background-image: -webkit-linear-gradient(top,#efefef,#888888);
  	background-image: -o-linear-gradient(top,#efefef,#888888);
  	background-image: linear-gradient(to bottom,#efefef,#888888);
  	background-repeat: repeat-x;
  	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.save:hover {
	color: #000000;
  	background: #888888;
}





/*CHANGE PASSWORD*/
#edit-password {
	background-color: #efefef;
	background-repeat: no-repeat;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	float: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	width: 400px;
	z-index:-1;
}
#edit-password h2{
	text-align: center;
}
.ovitek2 {
	margin: 50px 0px 0px 90px;
	width: 219px;
}
.save2 {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #000000;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: 80px;
	margin-left: -22px;
	margin-bottom: 20px;
	background-color: #efefef;
	
	background-image: -moz-linear-gradient(top,#efefef,#888888);
  	background-image: -webkit-linear-gradient(top,#efefef,#888888);
  	background-image: -o-linear-gradient(top,#efefef,#888888);
  	background-image: linear-gradient(to bottom,#efefef,#888888);
  	background-repeat: repeat-x;
  	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.save2:hover {
	color: #000000;
  	background: #888888;
}




/*ABOUT US*/
#aboutus,
#aboutus-offline {
	background-color: #efefef;
	background-repeat: no-repeat;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	float: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	width: 600px;
	height: 450px;
	z-index:-1;
}
#aboutus h2,
#aboutus-offline h2{
	text-align: center;
	margin-bottom: 50px;
}
#aboutus p,
#aboutus-offline p{
	margin: 0px 20px 0px 20px;
}




/*CONTACT*/
#contacts {
	background-color: #efefef;
	background-repeat: no-repeat;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	float: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	width: 600px;
	height: 450px;
	z-index:-1;
}
#contacts h2{
	text-align: center;
	margin-bottom: 50px;
}
#contacts p{
	margin: 0px 0px 0px 10px;
}
.control-label {
	float: left;
	width: 160px;
	padding-top: 5px;
	text-align: right;
}
.polja {
	width: 200px;
	padding: 4px 6px 4px 6px;
	margin: 3px 0px 5px 5px;
	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 3px;
  	box-shadow: 1px 1px 1px #cccccc;
  	resize: none;
}
.polja-drop {
	width: 214px;
	padding: 4px 6px 4px 6px;
	margin: 3px 0px 5px 5px;
	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 3px;
  	box-shadow: 1px 1px 1px #cccccc;
  	resize: none;
}
.polja-date {
	width: 200px;
	padding: 2px 6px 2px 6px;
	margin: 3px 0px 5px 5px;
	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 3px;
  	box-shadow: 1px 1px 1px #cccccc;
}

.sendmail {
	position: relative;
	left: 200px;
	top: -188px;
}
.send-button {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #000000;
	position: relative;
	left: 160px;
	top: 5px;
	background-color: #efefef;
	
	background-image: -moz-linear-gradient(top,#efefef,#888888);
  	background-image: -webkit-linear-gradient(top,#efefef,#888888);
  	background-image: -o-linear-gradient(top,#efefef,#888888);
  	background-image: linear-gradient(to bottom,#efefef,#888888);
  	background-repeat: repeat-x;
  	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.send-button:hover {
	color: #000000;
  	background: #888888;
}
.error-send{
	position: relative;
	left: 165px;
}





/*ADD SELLER*/
#addseller {
	background-color: #efefef;
	background-repeat: no-repeat;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;	
	float: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	width: 450px;
	z-index:-1;
}
#addseller h2 {
	text-align: center;
}
.ovitek-seller{
	margin-bottom: 100px;
}
.save-seller {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #000000;
	position: relative;
	left: 190px;
	top: 80px;
	background-color: #efefef;
	
	background-image: -moz-linear-gradient(top,#efefef,#888888);
  	background-image: -webkit-linear-gradient(top,#efefef,#888888);
  	background-image: -o-linear-gradient(top,#efefef,#888888);
  	background-image: linear-gradient(to bottom,#efefef,#888888);
  	background-repeat: repeat-x;
  	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.save-seller:hover {
	color: #000000;
  	background: #888888;
}
.error-seller{
	position: relative;
	left: 165px;
}




/*ADD SELLER*/
#addseller {
	background-color: #efefef;
	background-repeat: no-repeat;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;	
	float: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	width: 450px;
	z-index:-1;
}
#addseller h2 {
	text-align: center;
}
.ovitek-seller{
	margin-bottom: 100px;
}
.save-seller {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #000000;
	position: relative;
	left: 190px;
	top: 80px;
	background-color: #efefef;
	
	background-image: -moz-linear-gradient(top,#efefef,#888888);
  	background-image: -webkit-linear-gradient(top,#efefef,#888888);
  	background-image: -o-linear-gradient(top,#efefef,#888888);
  	background-image: linear-gradient(to bottom,#efefef,#888888);
  	background-repeat: repeat-x;
  	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.save-seller:hover {
	color: #000000;
  	background: #888888;
}
.error-seller{
	position: relative;
	left: 165px;
}





/*EDIT SELLERS*/
#edit-sellers {
	background-color: #efefef;
	background-repeat: no-repeat;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;	
	float: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	width: 500px;
	z-index:-1;
	padding-bottom: 30px;
}
#edit-sellers  h2 {
	text-align: center;
}
.oklep-tabela {
	margin: 20px 0px 10px 25px;
}
.big {
	font-weight: bold;
}
.active {
	background-color: #dff0d8;
}
.non {
	background-color: #f2dede;
}
caption {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}
table {
	font-weight: bold;
	margin: 10px 10px 10px 10px;
	border-collapse:collapse;
	width: 450px;
}
table, th, td > thead{
	font-weight: normal;
	text-align: left;
	padding: 5px 5px 5px 5px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
td {
	font-weight: normal;
	text-align: left;
	padding: 8px 8px 8px 5px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.action {
	height: 20px;
	width: 20px;
	padding: 0px 0px 0px 0px;
	background: #efefef;
}
.edit-user {
	cursor: pointer;
	margin: 3px 1px 0px 1px;
	padding: 1px 3px 1px 3px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 3px;
	box-shadow: 2px 2px 5px #888888;
}
.edit-user:hover{
	background: #FF6600;
}
.add-user{
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: 20px;
	background-color: #FF6600;
	text-decoration: none;
  	
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 5px;
  	padding: 6px 12px 6px 12px;
}
.add-user:hover {
	color: #fff;
  	background: #333333;
}